@use "fn-strings";
@use "../config";

@function is-number($value) {
  @return type-of($value) == 'number';
}

@function is-time($value) {
  @return is-number($value) and index('ms' 's', unit($value)) != null;
}

@function is-angle($value) {
  @return is-number($value) and index('deg' 'rad' 'grad' 'turn', unit($value)) != null;
}

@function is-frequency($value) {
  @return is-number($value) and index('Hz' 'kHz', unit($value)) != null;
}

@function is-integer($value) {
  @return is-number($value) and round($value) == $value;
}

@function is-relative-length($value) {
  @return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

@function is-absolute-length($value) {
  @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

@function is-percentage($value) {
  @return is-number($value) and unit($value) == '%';
}

@function is-length($value) {
  @return is-relative-length($value) or is-absolute-length($value);
}

@function is-resolution($value) {
  @return is-number($value) and index('dpi' 'dpcm' 'dppx', unit($value)) != null;
}

@function strip-unit($value) {
  @if is-number($value) and not unitless($value) {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}

@function get-unit-factor($unit-name: 'px') {
  @if ($unit-name == 'px') {
    @return 1px;
  } @else if ($unit-name == 'rem') {
    @return 1rem;
  } @else if ($unit-name == 'vw') {
    @return 1vw;
  } @else if ($unit-name == 'vh') {
    @return 1vh;
  } @else if ($unit-name == 'em') {
    @return 1em;
  } @else if ($unit-name == '%') {
    @return 1%;
  } @else {
    @return 1;
  }
}

@function cast($value: 0, $unit: 'px') {
  @return strip-unit($value) * get-unit-factor($unit);
}

@function unit-convert($value-in-px: 0, $factor: 1, $amount-of-decimals: 2, $unit: 'px') {
  $l: length($value-in-px);
  @if ($l > 1) {
    $rules: ();
    @each $v in $value-in-px {
      @if (is-absolute-length($v)) {
        $rules: append($rules, unit-convert($v, $factor, $amount-of-decimals, $unit));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $value-in-px: $rules;

  } @else {
    $value-in-px: strip-unit($value-in-px);
    $factor: strip-unit($factor);

    @if($value-in-px == 0){
      @return 0;

    } @else if ($unit == 'rem' or $unit == 'em') {
      $value-in-px: cast(($value-in-px / $factor), $unit);

    } @else if ($unit == 'vw' or $unit == 'vh' or $unit == '%') {
      $value-in-px: cast((($value-in-px * 100) / $factor), $unit);

    }

    $value-in-px: fn-strings.to-fixed($value-in-px, $amount-of-decimals);
  }
  @return $value-in-px;
}

@function rem($value-in-px: 0, $factor: config.get(unit-factor-rem), $amount-of-decimals: config.get(unit-round-rem)) {
  @return unit-convert($value-in-px, $factor, $amount-of-decimals, 'rem');
}

@function em($value-in-px: 0, $parent-font-size-in-px: 16, $amount-of-decimals: config.get(unit-round-em)) {
  @return unit-convert($value-in-px, $parent-font-size-in-px, $amount-of-decimals, 'em');
}

@function vw($value-in-px: 0, $viewport-size: config.get(design-viewport-width), $amount-of-decimals: config.get(unit-round-vw)) {
  @return unit-convert($value-in-px, $viewport-size, $amount-of-decimals, 'vw');
}

@function vh($value-in-px: 0, $viewport-size: config.get(design-viewport-height), $amount-of-decimals: config.get(unit-round-vh)) {
  @return unit-convert($value-in-px, $viewport-size, $amount-of-decimals, 'vh');
}

@function percent($value-in-px: 0, $viewport-size: 0, $amount-of-decimals: config.get(unit-round-percent)) {
  @return unit-convert($value-in-px, $viewport-size, $amount-of-decimals, '%');
}

@function percent-to-px($percentage: 0, $viewport-size: 0, $amount-of-decimals: 5) {
  $l: length($percentage);
  @if ($l > 1) {
    $rules: ();
    @each $v in $percentage {
      @if (is-absolute-length($v)) {
        $rules: append($rules, percent($v, $viewport-size, $amount-of-decimals));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $percentage: $rules;

  } @else {
    $percentage: strip-unit($percentage);
    $viewportSize: strip-unit($viewport-size);
    $percentage: (($viewportSize * $percentage) / 100) * 1px;
    $percentage: fn-strings.to-fixed($percentage, $amount-of-decimals);
  }
  @return $percentage;
}

@function unit-grow($unit-in-px: 0px, $viewport-size: 0px, $max-viewport-size: 0px) {
  $l: length($unit-in-px);
  @if ($l > 1) {
    $rules: ();
    @each $v in $unit-in-px {
      @if (is-absolute-length($v)) {
        $limit: ($max-viewport-size * $v) / $viewport-size;
        $rules: append($rules, $limit);
      } @else {
        $rules: append($rules, $v);
      }
    }

    $unit-in-px: $rules;

  } @else {
    $unit: get-unit-factor(unit($unit-in-px));

    $unit-in-px: strip-unit($unit-in-px);
    $max-viewport-size: strip-unit($max-viewport-size);
    $viewport-size: strip-unit($viewport-size);

    $unit-in-px: ($max-viewport-size * $unit-in-px) / $viewport-size;
    $unit-in-px: $unit-in-px * $unit;
  }

  @return $unit-in-px;
}

@function scale-unit($unit-in-px: 0px, $factor: 1) {
  $l: length($unit-in-px);
  @if ($l > 1) {
    $rules: ();
    @each $v in $unit-in-px {
      @if (is-absolute-length($v)) {
        $rules: append($rules, $v * $factor);
      } @else {
        $rules: append($rules, $v);
      }
    }

    $unit-in-px: $rules;

  } @else {
    $unit: get-unit-factor(unit($unit-in-px));
    $unit-in-px: strip-unit($unit-in-px);
    $unit-in-px: $unit-in-px * $factor;
    $unit-in-px: $unit-in-px * $unit;
  }

  @return $unit-in-px;
}

@function unit-auto-convert-from-px($value-in-px: 0px, $unit-name: 'px') {
  @if ($unit-name == 'rem') {
    @return rem($value-in-px);
  } @else if ($unit-name == 'vw') {
    @return vw($value-in-px);
  } @else if ($unit-name == 'vh') {
    @return vh($value-in-px);
  } @else if ($unit-name == 'em') {
    @return em($value-in-px);
  } @else if ($unit-name == '%') {
    @return percent($value-in-px);
  } @else {
    @return $value-in-px;
  }
}

@function percent-through-percent-parent($parent-percent: 1%, $child-percent: 1%) {
  $parent-percent: strip-unit($parent-percent);
  $child-percent: strip-unit($child-percent);
  @return (($child-percent * 100) / $parent-percent) * 1%;
}

@function in-same-unit($value-a: 1px, $value-b: 1px){
  @if( type-of($value-a) == 'list' or type-of($value-b) == 'list' ){
    @return false;
  }
  @if( unit($value-a) == unit($value-b) ){
    @return true;
  }
  @return false;
}

@function line-height($line-height-in-px: 1px, $font-size: 1px, $amount-of-digits: config.get(unit-round-lh)) {
  $line-height-in-px: strip-unit($line-height-in-px);
  $font-size: strip-unit($font-size);
  @return fn-strings.to-fixed($line-height-in-px / $font-size, $amount-of-digits);
}