@mixin get-style() {
  [data-lkt="window"] {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: baseline;
    justify-content: center;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;

    .back {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      transition: all 0.2s linear;
    }

    > .inner {
      max-width: 50%;
      max-height: calc(100% - 60px);
      background: #ffffff;
      z-index: 1;
      overflow-y: auto;
      border-radius: 4.5px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
      transition: opacity 0.2s linear 0s, visibility 0s linear 0s;
      margin: 30px auto 0;
    }

    &[data-size="md"] {
      > .inner {
        max-width: 500px;
        width: 95%;
      }
    }

    &[data-size="lg"] {
      > .inner {
        max-width: 800px;
        width: 95%;
      }
    }

    &[data-size="xl"] {
      > .inner {
        max-width: 1140px;
        width: 95%;
      }
    }


    $header-height: 40px;

    [data-role="header"] {
      width: 100%;
      position: sticky;
      top: 0;
      right: 0;
      background: #ffffff;
      border: 1px solid #dee2e6;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
      z-index: 2;
      border-top-left-radius: 4.5px;
      border-top-right-radius: 4.5px;
      height: $header-height;
      display: flex;
      justify-content: space-between;
      align-items: center;

      [data-button] {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s linear;
        height: $header-height;
        width: $header-height;
        position: relative;

        &:hover {
          background: rgba(0, 0, 0, .1);
        }

        &[data-role="dropdown"] {
          position: relative;

          > button {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &:before {
              content: '';
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 20px;
              height: 20px;
              background-image: radial-gradient(circle, black 2px, transparent 2px);
              background-size: 100% 33.33%;
            }
          }
        }
      }

      [data-button="button-close"] {
        &:before {
          content: 'x';
          display: block;
          font-family: sans-serif;
        }
      }

      [data-button="button-save"] {
        &:before {
          content: '\1F4BE';
        }
      }
    }

    [data-role="title-container"] {
      position: relative;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;
    }

    [data-role="title"] {
      width: 100%;
      padding: 0 15px;
      font-size: 19px;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }

    [data-role="pre-title"] {
      width: 100%;
      padding: 0px 15px 4px;
      font-size: 14px;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      background: #ccc;
      border-bottom-right-radius: 5px;

      + [data-role="title"] {
        font-size: 17px;
        margin-top: -3px;
      }
    }

    footer {
      [data-role="footer"] {
        border-top: 1px solid #ccc;
        padding: 15px;
      }


      [data-role="button-tray"] {
        border-top: 1px solid #ccc;
      }
    }

    [data-role="button-tray"] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }



    .tabs-component-tabs {
      position: sticky;
      top: 40px;
      left: 0;
      z-index: 1;
      background: #ffffff;
      padding: 15px;
    }

    [data-role="header"] {
      .vs__selected-options,
      .vs__actions {
        opacity: 0;
        visibility: hidden;
      }

      .vs__dropdown-toggle {
        width: $header-height;
        height: $header-height;
        border: none;
      }

      .vs__actions {
        display: none;
      }

      .v-select {
        width: $header-height;
        height: $header-height;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  [data-role="menu"] {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}