@use "../core/functions/fn-units";
@use "../core/media";
@use "../core/config";
@use "../lkt-flex";
@use "../lkt-gap";

@mixin set-up-media-queries() {
  $c: media.add(xs, '(max-width: 575px)');

  $c: media.add(to-sm, '(max-width: 575px)');
  $c: media.add(sm, '(min-width: 576px)');
  $c: media.add(only-sm, '(min-width: 576px) and (max-width: 767px)');

  $c: media.add(to-md, '(max-width: 767px)');
  $c: media.add(md, '(min-width: 768px)');
  $c: media.add(md-only, '(min-width: 768px) and (max-width: 991px)');

  $c: media.add(to-lg, '(max-width: 991px)');
  $c: media.add(lg, '(min-width: 992px)');
  $c: media.add(only-lg, '(min-width: 992px) and (max-width: 1199px)');

  $c: media.add(to-xlg, '(max-width: 1199px)');
  $c: media.add(xlg, '(min-width: 1200px)');
}

@mixin set-up-grid() {
  $c: config.get(grid-name-row, false, unquote(':n-:m'));
  $c: config.get(grid-name-column, false, unquote(':n-:m-:i'));
  $c: config.get(grid-name-order, false, unquote(':n-:m-:i-:t'));
  $c: config.get(momentum-scroll-media, false, to-lg);
}

@mixin lkt-preset-bootstrap-grid($grid-media-queries: ('' to-lg lg)) {
  @include set-up-grid();

  @include lkt-flex.generate-grid(row, col, 12, $grid-media-queries);
  @include lkt-gap.generate-full-gap(row, fn-units.rem(15px), $grid-media-queries);
  @include lkt-gap.generate-gap-container(container, row, fn-units.rem(15px), $grid-media-queries);
}