@use "functions/fn-lists";

//----------
// Config
//----------
$LKT_MEDIA_QUERIES: ();
$LKT_MEDIA_QUERIES_FULL: ();
$LKT_MEDIA_QUERIES_STACK: '';
$LKT_MEDIA_QUERIES_STACK_CURRENT: '';


@function add($media-name: '', $media-query: '', $is-full: false) {
  $LKT_MEDIA_QUERIES: map-merge($LKT_MEDIA_QUERIES, ($media-name: $media-query)) !global;
  @if ($is-full == true) {
    $LKT_MEDIA_QUERIES_FULL: append($LKT_MEDIA_QUERIES_FULL, $media-name) !global;
  }
  @return true;
}

@function get($media-name: '') {
  $r: map-get($LKT_MEDIA_QUERIES, $media-name);
  @if ($r) {
    $r: unquote($r);
  }
  @return $r;
}

@function get-full($media-name: '') {
  $r: map-get($LKT_MEDIA_QUERIES_FULL, $media-name);
  @if ($r) {
    $r: unquote($r);
  }
  @return $r;
}

@function exists($media-name: '') {
  @return type-of(get($media-name)) == 'string';
}

@function exists-full($media-name: '') {
  @return type-of(get-full($media-name)) == 'string';
}

@function get-stack-build-string() {
  $r: unquote('');
  $i: 0;

  @each $media-query in $LKT_MEDIA_QUERIES_STACK {
    @if ($media-query != '' and $media-query != null and $i > 0) {
      $media-query: #{'_' + $media-query};
    }

    @if ($media-query == '-' or $media-query == ',') {
      $media-query: '';
    }

    @if ($media-query != '') {
      $r: #{$r + $media-query};
      $i: $i + 1;
    }
  }

  @if ($r == '-' or $r == ',') {
    $r: '';
  }

  @return $r;
}

@function stack-up($name: '') {
  $LKT_MEDIA_QUERIES_STACK: append($LKT_MEDIA_QUERIES_STACK, $name) !global;
  $LKT_MEDIA_QUERIES_STACK_CURRENT: get-stack-build-string() !global;
  @return true;
}

@function stack-down() {
  $LKT_MEDIA_QUERIES_STACK: fn-lists.delete-nth($LKT_MEDIA_QUERIES_STACK, -1) !global;
  $LKT_MEDIA_QUERIES_STACK_CURRENT: get-stack-build-string() !global;
  @return true;
}

@function get-last-stacked() {
  @return $LKT_MEDIA_QUERIES_STACK_CURRENT;
  @return nth($LKT_MEDIA_QUERIES_STACK, length($LKT_MEDIA_QUERIES_STACK));
}

@function has-stack-repeating() {
  @return nth($LKT_MEDIA_QUERIES_STACK, length($LKT_MEDIA_QUERIES_STACK)) == nth($LKT_MEDIA_QUERIES_STACK, length($LKT_MEDIA_QUERIES_STACK) - 1);
}

@function get-stack-current() {
  @return $LKT_MEDIA_QUERIES_STACK_CURRENT;
}

@function get-append-string($media-query: '') {
  @if ($media-query != '' and $media-query != null) {
    $media-query: #{'-' + $media-query};
  }

  @if ($media-query == '-' or $media-query == ',') {
    $media-query: '';
  }
  @return $media-query;
}