@mixin _pseudo($display: null, $position: initial, $content: '') {
  @if ($display != null) {
    @if ($display != false) {
      display: $display;
    }
    @if ($position != false) {
      position: $position;
    }
    @if ($content != false) {
      content: $content;
    }
  }
  @content;
}

@mixin before($display: null, $position: initial, $content: '') {
  &:before {
    @include _pseudo($display, $position, $content) {
      @content;
    }
  }
}

@mixin after($display: null, $position: initial, $content: '') {
  &:after {
    @include _pseudo($display, $position, $content) {
      @content;
    }
  }
}

@mixin both($display: null, $position: initial, $content: '') {
  &:before,
  &:after {
    @include _pseudo($display, $position, $content) {
      @content;
    }
  }
}