@use "core/config";
@use "core/functions/fn-grid";
@use "lkt-media";
@use "lkt-push-pull";

@mixin clear-fix() {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin generate-grid($row-name: 'row', $column-name: 'col', $amount-of-columns: 12, $media-queries: (), $include-push-and-pull: config.get(grid-include-push-and-pull)) {

  @each $media-query in $media-queries {
    @include lkt-media.media($media-query) {

      $media-query-str: $media-query;
      @if ($media-query != '') {
        $media-query-str: #{'-' + $media-query};
      }

      $selector: fn-grid.parse-name(config.get(grid-name-row), $row-name, '', '', $media-query-str);
      .#{$selector} {
        display: block;
        width: 100%;
        @include clear-fix;
      }

      $selector: fn-grid.parse-name(config.get(grid-name-column), $column-name, 0, '', $media-query-str);
      .#{$selector} {
        max-width: 0;
        display: none;
        float: left;
      }

      $biggest-column: 1;
      @each $columns in $amount-of-columns {

        @if($columns > $biggest-column){
          $biggest-column: $columns;
        }

        @for $i from 1 to $columns+1 {

          $column-width: 100 / $columns;

          $width: $i * $column-width * 1%;

          $selector: fn-grid.parse-name(config.get(grid-name-column), $column-name, $i, $columns, $media-query-str);
          .#{$selector} {
            width: 100%;
            max-width: $width;
            min-height: 1px;
            display: block;
            float: left;
          }
        }
      }
    }
  }

  @if($include-push-and-pull == true) {
    @include lkt-push-pull.generate-push-pull($column-name, $amount-of-columns, $media-queries);
  }

  @content;
}