@use "core/config";
@use "core/media";
@use "core/functions/fn-lists";
@use "core/functions/fn-strings";

@mixin media($media-name: '', $media-type: config.get(media-default-target)) {
  $c: media.stack-up($media-name);

  @if (media.exists($media-name)) {
    @if (media.get($media-name) != '') {
      @if (media.exists-full($media-name)) {
        $m: media.get($media-name);
        $mSupport: fn-strings.str-replace($m, '@supports', '');

        @if ($m != $mSupport) {
          @supports #{$mSupport} {
            @content;
          }
        }
      } @else {

        @if (media.has-stack-repeating()) {
          @content;

        } @else {

          $r: media.get($media-name);
          @if ($media-type != '' and $media-type != false and $media-name != '' and $media-name != false and $r != null and $media-type != null) {
            $r: fn-strings.concat(' and ', $media-type, $r);
          }
          @media #{$r}
          {
            @content;
          }
        }
      }
    } @else {
      @content;
    }
  } @else if (config.get(debug) != false) {
    @warn fn-strings.concat(' ', "[LKT MEDIA]", fn-strings.concat('', "media query '", $media-name, "'"), 'does not exists');
  }
  $c: media.stack-down();
}

@mixin print($media-name: '') {

  $c: media.stack-up($media-name);

  @if (media.exists($media-name)) {
    $r: unquote('');
    @if (media.get($media-name) != '' and media.has-stack-repeating() != false and $media-name != '' and $media-name != false and $r != null) {
      $r: media.get($media-name);
      $r: #{' and ' + $r}
    }
    @media print #{$r}
    {
      @content;
    }
  } @else if (config.get(debug) != false) {
    @warn fn-strings.concat(' ', "[LKT MEDIA][Print]", fn-strings.concat('', "media query '", $media-name, "'"), 'does not exists');
  }
  $c: media.stack-down();
}

@mixin screen($media-name: '') {

  $c: media.stack-up($media-name);

  @if (media.exists($media-name)) {
    $r: unquote('');
    @if(media.has-stack-repeating() != false){
      @content;
    } @else {
      $r: media.get($media-name);
      $r: #{' and ' + $r};

      @media screen #{$r}
      {
        @content;
      }
    }

  } @else if (config.get(debug) != false) {
    @warn fn-strings.concat(' ', "[LKT MEDIA][Print]", fn-strings.concat('', "media query '", $media-name, "'"), 'does not exists');
  }
  $c: media.stack-down();
}