@use "core/functions/fn-units";
@use "core/variables/angles";
@use "lkt-pseudo";

@mixin _size($size: 5px, $weight: 1px, $color: #000000) {
  $w: $weight - fn-units.unit-auto-convert-from-px(1, unit($size));
  width: $size;
  height: $size;
  border-width: $weight $weight 0 0;
  margin: $size / 2;
  color: $color;

  @include lkt-pseudo.before {
    top: $w * -1;
    height: $weight;
    width: $size + fn-units.strip-unit($w);
  }
}

@mixin _angle-arrow($size: 5px, $weight: 1px, $color: #000000) {
  @include _size($size, $weight, $color);

  border-style: solid;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  @include lkt-pseudo.both {
    content: '';
    box-sizing: border-box;
  }

  @include lkt-pseudo.before {
    right: 0;
    position: absolute;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    transform-origin: right top;
  }
}

@mixin left($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$left);
  @content;
}

@mixin left-top($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$left-top);
  @content;
}

@mixin left-bottom($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$left-bottom);
  @content;
}

@mixin right($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$right);
  @content;
}

@mixin right-top($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$right-top);
  @content;
}

@mixin right-bottom($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$right-bottom);
  @content;
}

@mixin top($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$top);
  @content;
}

@mixin bottom($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle-arrow($size, $weight, $color);
  transform: rotate(angles.$bottom);
  @content;
}