@mixin force-hardware-acceleration($use-transform: true) {
  @if ($use-transform == true) {
    transform: translateZ(0);
  }
  backface-visibility: hidden;
  perspective: 1000px;
  @if ($use-transform == true) {
    transform: translate3d(0, 0, 0);
  }
}

@mixin disable-moz-outline() {
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin disable-ms-select-arrow() {
  &::-ms-expand {
    display: none;
  }
}

@mixin disable-ms-input-clear() {
  input::-ms-clear {
    display: none;
  }
}

@mixin disable-search-reset() {
  input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
}

@mixin disable-webkit-autocomplete() {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
  }
}

@mixin enable-momentum-scroll() {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin style-placeholder() {
  // Webkit
  ::-webkit-input-placeholder {
    @content;
  }
  // Moz 19+
  ::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  // IE 10+
  :-ms-input-placeholder {
    @content;
  }
  // Moz 18-
  :-moz-placeholder {
    @content;
  }
}

@mixin style-range-track($focus-mode: false) {
  @if($focus-mode == true) {

    // Webkit
    input[type=range]:focus::-webkit-slider-runnable-track {
      @content;
    }

    // Moz
    input[type=range]:focus::-moz-range-track {
      @content;
    }

    // IE
    input[type=range]:focus::-ms-track {
      @content;
    }

  } @else {
    // Webkit
    input[type=range]::-webkit-slider-runnable-track {
      @content;
    }

    // Moz
    input[type=range]::-moz-range-track {
      @content;
    }

    // IE
    input[type=range]::-ms-track {
      @content;
    }
  }
}

@mixin style-range-thumb($focus-mode: false) {
  @if($focus-mode == true) {

    // Webkit
    input[type=range]:focus::-webkit-slider-thumb {
      @content;
    }

    // Moz
    input[type=range]:focus::-moz-range-thumb {
      @content;
    }

    // IE
    input[type=range]:focus::-ms-thumb {
      @content;
    }

  } @else {
    // Webkit
    input[type=range]::-webkit-slider-thumb {
      @content;
    }

    // Moz
    input[type=range]::-moz-range-thumb {
      @content;
    }

    // IE
    input[type=range]::-ms-thumb {
      @content;
    }
  }
}

@mixin style-range-fill($focus-mode: false) {
  @if($focus-mode == true) {
    input[type=range]:focus::-ms-fill-lower {
      @content;
    }
    input[type=range]:focus::-ms-fill-upper {
      @content;
    }

  } @else {
    input[type=range]::-ms-fill-lower {
      @content;
    }
    input[type=range]::-ms-fill-upper {
      @content;
    }
  }
}


//input[type=range] {
//  height: 34px;
//  -webkit-appearance: none;
//  margin: 10px 0;
//  width: 100%;
//}
//input[type=range]:focus {
//  outline: none;
//}
//input[type=range]::-webkit-slider-runnable-track {
//  width: 100%;
//  height: 11px;
//  cursor: pointer;
//  animate: 0.2s;
//  box-shadow: 1px 1px 1px #000000;
//  background: #74A9D8;
//  border-radius: 1px;
//  border: 0px solid #010101;
//}
//input[type=range]::-webkit-slider-thumb {
//  box-shadow: 1px 1px 1px #000031;
//  border: 1px solid #00001E;
//  height: 26px;
//  width: 26px;
//  border-radius: 15px;
//  background: #FFFFFF;
//  cursor: pointer;
//  -webkit-appearance: none;
//  margin-top: -8px;
//}
//input[type=range]:focus::-webkit-slider-runnable-track {
//  background: #74A9D8;
//}
//input[type=range]::-moz-range-track {
//  width: 100%;
//  height: 11px;
//  cursor: pointer;
//  animate: 0.2s;
//  box-shadow: 1px 1px 1px #000000;
//  background: #74A9D8;
//  border-radius: 1px;
//  border: 0px solid #010101;
//}
//input[type=range]::-moz-range-thumb {
//  box-shadow: 1px 1px 1px #000031;
//  border: 1px solid #00001E;
//  height: 26px;
//  width: 26px;
//  border-radius: 15px;
//  background: #FFFFFF;
//  cursor: pointer;
//}
//input[type=range]::-ms-track {
//  width: 100%;
//  height: 11px;
//  cursor: pointer;
//  animate: 0.2s;
//  background: transparent;
//  border-color: transparent;
//  color: transparent;
//}
//input[type=range]::-ms-fill-lower {
//  background: #74A9D8;
//  border: 0px solid #010101;
//  border-radius: 2px;
//  box-shadow: 1px 1px 1px #000000;
//}
//input[type=range]::-ms-fill-upper {
//  background: #74A9D8;
//  border: 0px solid #010101;
//  border-radius: 2px;
//  box-shadow: 1px 1px 1px #000000;
//}
//input[type=range]::-ms-thumb {
//  margin-top: 1px;
//  box-shadow: 1px 1px 1px #000031;
//  border: 1px solid #00001E;
//  height: 26px;
//  width: 26px;
//  border-radius: 15px;
//  background: #FFFFFF;
//  cursor: pointer;
//}
//input[type=range]:focus::-ms-fill-lower {
//  background: #74A9D8;
//}
//input[type=range]:focus::-ms-fill-upper {
//  background: #74A9D8;
//}