@use "core/multimedia";
@use "core/functions/fn-multimedia";
@use "core/functions/fn-units";
@use "lkt-position";

@mixin in($media-name) {
  position: relative;
  overflow: hidden;
  padding-bottom: multimedia.get($media-name);

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    @include lkt-position.set-position(absolute, 0, 0, 0, 0);
  }
}

@mixin fit($media-name) {
  position: relative;
  overflow: hidden;
  padding-bottom: multimedia.get($media-name);

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    width: 100%;
    height: 100%;
    @include lkt-position.set-position(absolute, 0, 0, 0, 0);
  }
}

@mixin out($media-name) {
  position: relative;
  overflow: hidden;
  padding-bottom: multimedia.get($media-name);

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    $value: fn-units.rem(-9999px);
    @include lkt-position.set-position(absolute, $value, $value, $value, $value);

  }
}

@mixin in-custom($custom-value) {
  position: relative;
  overflow: hidden;
  padding-bottom: $custom-value;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    @include lkt-position.set-position(absolute, 0, 0, 0, 0);
  }
}

@mixin fit-custom($custom-value) {
  position: relative;
  overflow: hidden;
  padding-bottom: $custom-value;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    width: 100%;
    height: 100%;
    @include lkt-position.set-position(absolute, 0, 0, 0, 0);
  }
}

@mixin out-custom($custom-value) {
  position: relative;
  overflow: hidden;
  padding-bottom: $custom-value;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    $value: fn-units.rem(-9999px);
    @include lkt-position.set-position(absolute, $value, $value, $value, $value);
  }
}

@mixin parallax($media-name) {
  min-height: multimedia.get($media-name);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin parallax-custom($custom-value) {
  min-height: $custom-value;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin area($width: 0px, $height: 0px, $target-width: 1280px){
  position: relative;
  overflow: hidden;
  width: $target-width;
  padding-bottom: fn-multimedia.get-aspect-ratio-percentage($width, $height);
  max-width: 100%;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    width: 100%;
    height: 100%;
    @include lkt-position.set-position(absolute, 0, 0, 0, 0);
  }
}

@mixin figure($width: 100%, $height: 100%, $mode: natural) {

  @if($mode == natural){
    overflow: hidden;
    max-width: 100%;
    width: auto;
    height: auto;
    display: inline-block;

    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      @if($width != false){
        max-width: $width;
      }
      @if($height != false) {
        max-height: $height;
      }
      min-width: 0;
      min-height: 0;
      @include lkt-position.align(0, 0);

      @content;
    }

  } @else if($mode == mask) {
    overflow: hidden;
    max-width: 100%;
    width: auto;
    height: auto;
    display: inline-block;

    @if($width != false){
      max-width: $width;
    }
    @if($height != false) {
      max-height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      width: 100%;
      height: 100%;
      min-width: 0;
      min-height: 0;
      position: relative;
      @include lkt-position.align(0, 0);

      @content;
    }

  }@else if($mode == out) {
    overflow: hidden;
    max-width: 100%;
    display: inline-block;

    @if($width != false){
      width: $width;
    }
    @if($height != false) {
      height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: none;
      position: relative;
      @include lkt-position.align(50%, 50%);

      @content;
    }
  }@else if($mode == out-x) {
    overflow: hidden;
    max-width: 100%;
    display: inline-block;

    @if($width != false){
      width: $width;
    }
    @if($height != false) {
      height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: 100%;
      position: relative;
      @include lkt-position.align(50%, 50%);

      @content;
    }
  }@else if($mode == out-y) {
    overflow: hidden;
    max-width: 100%;
    display: inline-block;

    @if($width != false){
      width: $width;
    }
    @if($height != false) {
      height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: none;
      position: relative;
      @include lkt-position.align(50%, 50%);

      @content;
    }
  }
}

@mixin figure-size($width: 100%, $height: 100%) {
  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    @if($width != false){
      max-width: $width;
    }
    @if($height != false) {
      max-height: $height;
    }

    @content;
  }
}