@use "lkt-media";

@mixin touch($media-query: '') {
  &:hover:active:focus {
    @include lkt-media.media($media-query) {
      @content;
    }
  }
}

@mixin hover($media-query: '') {
  &:hover {
    @include lkt-media.media($media-query) {
      @content;
    }
  }
}