@use "core/config";
@use "core/functions/fn-units";
@use "core/functions/fn-strings";
@use "lkt-media";

@mixin big-enough($property: '', $unit-in-px: 0px, $viewport-size: config.get(design-viewport-width), $enough: false, $unit: config.get(unit-enough)) {

  $value: fn-units.unit-grow($unit-in-px, $viewport-size, $enough);

  $media-type: config.get(media-default-target);
  $r: fn-strings.concat('', '(min-width: ', $enough, ')');
  @if ($media-type != '' and $media-type != false and $r != null and $media-type != null) {
    $r: fn-strings.concat(' and ', $media-type, $r);
  }
  @media #{$r}{
    #{$property}: fn-units.unit-auto-convert-from-px($value, $unit);
  }
}

@mixin small-enough($property: '', $unit-in-px: 0px, $viewport-size: config.get(design-viewport-width), $enough: false, $unit: config.get(unit-enough)) {
  $value: fn-units.unit-grow($unit-in-px, $viewport-size, $enough);

  $media-type: config.get(media-default-target);
  $r: fn-strings.concat('', '(max-width: ', $enough, ')');
  @if ($media-type != '' and $media-type != false and $r != null and $media-type != null) {
    $r: fn-strings.concat(' and ', $media-type, $r);
  }
  @media #{$r}{
    #{$property}: fn-units.unit-auto-convert-from-px($value, $unit);
  }
}