@use "lkt-media";
@use "core/functions/fn-units";

@mixin generate-full-gap($name: gap-15, $size: 15px, $media-queries: (''), $add-horizontal-fix: true) {
  @each $media-query in $media-queries {

    $media-query-str: $media-query;
    @if ($media-query != '') {
      $media-query-str: #{'-' + $media-query};
    }

    $wrap-size: 100%;
    @if (fn-units.strip-unit($size) != 0) {
      $wrap-size: calc(#{'100% + ' + ($size * 2)});
    }

    @include lkt-media.media($media-query) {
      .#{$name}#{$media-query-str} {
        margin: $size * -1;
        width: $wrap-size;

        > * {
          padding: $size;
        }

        &.gap-container {
          padding: 2 * $size;
        }

        @content;
      }

      @if ($add-horizontal-fix == true) {
        .#{$name}-fix#{$media-query-str} {
          > * {
            padding: $size $size/2 $size $size/2;

            &:first-child {
              padding-left: $size;
            }

            &:last-child {
              padding-right: $size;
            }
          }
        }
      }

      .#{$name}-v#{$media-query-str} {
        margin-top: $size * -1;
        margin-bottom: $size * -1;

        > * {
          padding-top: $size;
          padding-bottom: $size;
        }

        @content;
      }

      .#{$name}-h#{$media-query-str} {
        margin-left: $size * -1;
        margin-right: $size * -1;
        width: $wrap-size;

        > * {
          padding-left: $size;
          padding-right: $size;
        }

        @content;
      }
    }
  }
}

@mixin generate-vertical-gap($name: gap-15, $size: 15px, $media-queries: ('')) {
  @each $media-query in $media-queries {

    $media-query-str: $media-query;
    @if ($media-query != '') {
      $media-query-str: #{'-' + $media-query};
    }
    @include lkt-media.media($media-query) {
      .#{$name} {
        margin-top: $size * -1;
        margin-bottom: $size * -1;

        > * {
          padding-top: $size;
          padding-bottom: $size;
        }

        @content;
      }
    }
  }
}

@mixin generate-horizontal-gap($name: gap-15, $size: 15px, $media-queries: ('')) {
  @each $media-query in $media-queries {

    $media-query-str: $media-query;
    @if ($media-query != '') {
      $media-query-str: #{'-' + $media-query};
    }
    @include lkt-media.media($media-query) {
      .#{$name} {
        margin-left: $size * -1;
        margin-right: $size * -1;
        width: calc(#{'100% + ' + ($size * 2)});

        > * {
          padding-left: $size;
          padding-right: $size;
        }

        @content;
      }
    }
  }
}

@mixin clear-horizontal-extremes() {
  margin-left: 0;
  margin-right: 0;

  > :first-child {
    padding-left: 0;
  }

  > :last-child {
    padding-right: 0;
  }
}

@mixin clear-vertical-extremes() {
  > :first-child {
    padding-top: 0;
  }

  > :last-child {
    padding-bottom: 0;
  }
  margin-top: 0;
  margin-bottom: 0;
}

@mixin generate-gap-container($container-name: container, $row-name: row, $size: 15px, $media-queries: ('')) {
  @each $media-query in $media-queries {

    $media-query-str: $media-query;
    @if ($media-query != '') {
      $media-query-str: #{'-' + $media-query};
    }
    @include lkt-media.media($media-query) {
      .#{$container-name}#{$media-query-str} {
        padding-left: $size;
        padding-right: $size;

        > .#{$row-name} {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: $size * -1;
          margin-right: $size * -1;

          &:not(:last-child){
            margin-bottom: $size;
          }
        }
      }
    }
  }
}