@use "lkt-position";
@use "lkt-layer";
@use "core/config";

@mixin get-container($overlay-selector: overlay, $overlay-color-hex: #000000, $overlay-opacity: .2) {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: auto;

  .#{$overlay-selector} {
    @include lkt-position.set-position(absolute, 0, 0, 0, 0);
    background-color: rgba($overlay-color-hex, $overlay-opacity);
    @include lkt-layer.get(config.get(layer-overlay-background));

    ~ * {
      @include lkt-layer.get(config.get(layer-overlay-content));
    }
  }
}

@mixin get-overlay($overlay-color-hex: #000000, $overlay-opacity: .2) {
  @include lkt-position.set-position(absolute, 0, 0, 0, 0);
  background-color: rgba($overlay-color-hex, $overlay-opacity);
  @include lkt-layer.get(config.get(layer-overlay-background));

  ~ * {
    @include lkt-layer.get(config.get(layer-overlay-content));
  }
}