@use "core/config";
@use "core/fonts";
@use "core/functions/fn-units";
@use "lkt-size";

@mixin font-face($name: '', $file: '', $path: '../fonts/', $weight: null, $style: null) {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$path}#{$file}");

    @if ($weight != null) {
      font-weight: $weight;
    }

    @if ($style != null) {
      font-style: $style;
    }
  }
}

@mixin font-face-full($name: '', $file: '', $path: '../fonts/') {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$path}#{$file}.eot");
    src: url("#{$path}#{$file}.eot?#iefix") format("embedded-opentype"),
    url("#{$path}#{$file}.woff") format("woff"),
    url("#{$path}#{$file}.ttf") format("truetype"),
    url("#{$path}#{$file}.svg?#webfont") format("svg");
  }
}

@mixin responsive-font-size() {
  $value: config.get(font-size);
  $unit: config.get(font-responsive-unit);

  @if ($unit == vw or $unit == vh) {
    $factor: config.get(design-viewport-width);
    $round: config.get(unit-round-vw);
    @if ($unit == vh) {
      $factor: config.get(design-viewport-height);
      $round: config.get(unit-round-vh);
    }
    font-size: fn-units.unit-convert($value, $factor, $round, $unit);

    @if ($unit == vw) {
      @if (config.get(font-responsive-max-viewport-width) != false) {
        @include lkt-size.big-enough(font-size, $value, config.get(design-viewport-width), config.get(font-responsive-max-viewport-width));
      }
      @if (config.get(font-responsive-min-viewport-width) != false) {
        @include lkt-size.small-enough(font-size, $value, config.get(design-viewport-width), config.get(font-responsive-min-viewport-width));
      }

    } @else if ($unit == vh) {
      @if (config.get(font-responsive-max-viewport-height) != false) {
        @include lkt-size.big-enough(font-size, $value, config.get(design-viewport-height), config.get(font-responsive-max-viewport-height));
      }
      @if (config.get(font-responsive-min-viewport-height) != false) {
        @include lkt-size.small-enough(font-size, $value, config.get(design-viewport-height), config.get(font-responsive-min-viewport-height));
      }
    }

  } @else {
    font-size: $value;
  }
}


@mixin font($font-name: false, $font-size: false, $line-height: false, $font-weight: false, $letter-spacing: false, $font-stretch: false) {
  @if $font-name {
    font-family: fonts.get($font-name);
  }
  @if $font-size {
    font-size: $font-size;
  }
  @if $line-height {
    @if($font-size and config.get(font-relative-line-height) == true and fn-units.in-same-unit($line-height, $font-size)){
      line-height: fn-units.line-height($line-height, $font-size);
    } @else {
      line-height: $line-height;
    }
  }
  @if $font-weight {
    font-weight: $font-weight;
  }
  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }
  @if $font-stretch {
    font-stretch: $font-stretch;
  }
}