@use "core/functions/fn-gradient";

@mixin with-shadow($underline-color: #000, $size: 2px) {
  display: inline;
  $size: $size * -1;
  box-shadow: inset 0 -1px 0 transparent, inset 0 $size 0 $underline-color;

}

@mixin with-gradient($underline-color: #000, $background-size: 50px, $line-size: 3%, $line-position: 96%) {
  display: inline;
  background: fn-gradient.linear(to bottom, transparent 0%, transparent $line-position - 1, $underline-color $line-position, transparent $line-position + $line-size, transparent 100%);
  background-size: $background-size $background-size;
}