@use "core/config";
@use "lkt-font";
@use "lkt-browser";
@use "lkt-media";

@mixin reset-general() {
  * {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  form, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }

  ol, ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  ins {
    text-decoration: none;
  }

  del {
    text-decoration: line-through;
  }

  :focus {
    outline: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  u {
    text-decoration: underline;
  }
}

@mixin reset-root() {
  html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    //height: 100%;
    line-height: 1;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-print-color-adjust: exact;
  }

  @if(config.get(scroll-main-direction) == vertical){
    html,
    body {
      overflow-x: hidden;
    }
  }

  @if(config.get(momentum-scroll-media) != false){
    @include lkt-media.media(config.get(momentum-scroll-media)){
      html {
        @include lkt-media.screen(to-lg){
          @include lkt-browser.enable-momentum-scroll();
        }
      }
    }
  }
}

@mixin reset-font($is-from-root: true) {
  @if ($is-from-root == true) {
    @include reset-root();
    html {
      @include lkt-font.responsive-font-size();
    }

    body {
      @include lkt-font.font(config.get(font-default), 100%, config.get(line-height), 400);
    }
  } @else {
    @include lkt-font.font(config.get(font-default), config.get(font-size), config.get(line-height), 400);
  }

  $medias: config.medias();
  @each $media, $props in $medias {
    @include lkt-media.media($media) {
      @if ($is-from-root == true) {
        @if (config.media-prop-exists($media, font-size)) {
          html {
            @include lkt-font.responsive-font-size();
          }
        }

        @if (config.media-prop-exists($media, font-default)) {
          body {
            @include lkt-font.font(config.get(font-default), 100%, config.get(line-height), 400);
          }
        }
      } @else {
        @include lkt-font.font(config.get(font-default), config.get(font-size), config.get(line-height), 400);
      }
    }
  }
}

@mixin reset($is-from-root: true) {
  @include reset-general();
  @include reset-font($is-from-root);
}