@use "lkt-media";
@use "core/config";

@mixin set-hyphenate() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin set-wysiwg-element-spacing($space: 14px) {
  p,
  ul,
  ol,
  > div {
    &:not(:last-child) {
      margin-bottom: $space;
    }

    &:empty {
      display: none;
    }
  }

  @if (config.get(support-wordpress) == true) {
    .wp-block-columns,
    .wp-block-embed {
      &:not(:last-child) {
        margin-bottom: $space;
      }
    }

    > .alignright {
      float: right;
      margin-left: $space,
    }

    > .alignleft {
      float: left;
      margin-right: $space,
    }

    @include lkt-media.media(to-md){
      > .alignright {
        float: none;
        margin-left: auto;
      }

      > .alignleft {
        float: none;
        margin-right: auto;
      }
    }
  }
}