@use "../core/functions/fn-units";
@use "../core/functions/fn-strings";

@mixin right-top($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: fn-units.strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: fn-strings.concat(' ', $i * 1px, $i * -1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}

@mixin right-bottom($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: fn-units.strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: fn-strings.concat(' ', $i * 1px, $i * 1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}

@mixin left-top($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: fn-units.strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: fn-strings.concat(' ', $i * -1px, $i * -1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}

@mixin left-bottom($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: fn-units.strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: fn-strings.concat(' ', $i * -1px, $i * 1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}