@use "../core/context";

@mixin get-initial-state() {
  display: none;
}

@mixin get-final-state-with-blur($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false, $display: block) {
  display: $display;
  animation-name: lkt-appear-with-blur;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (context.isset(lkt-effect-appear-with-blur) == false) {
    @keyframes lkt-appear-with-blur {
      0% {
        opacity: 0;
        filter: blur(5px);
        display: none;
        z-index: -1;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
        overflow: hidden;
      }
      50% {
        opacity: 0.5;
        filter: blur(5px);
        display: none;
        overflow: hidden;
      }
      100% {
        opacity: 1;
        display: $display;
        overflow: initial;
      }
    }

    $c: context.set(lkt-effect-appear-with-blur, true);
  }
}

@mixin get-final-state($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false, $display: block) {
  display: $display;
  animation-name: lkt-appear;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (context.isset(lkt-effect-appear) == false) {
    @keyframes lkt-appear {
      0% {
        opacity: 0;
        display: none;
        z-index: -1;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
        overflow: hidden;
      }
      50% {
        opacity: 0.5;
        display: none;
        overflow: hidden;
      }
      100% {
        opacity: 1;
        display: $display;
        overflow: initial;
      }
    }

    $c: context.set(lkt-effect-appear, true);
  }
}

@mixin get-disappear($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-disappear;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (context.isset(lkt-effect-disappear) == false) {
    @keyframes lkt-disappear {
      0% {
        opacity: 1;
        filter: blur(5px);
      }
      50% {
        opacity: 0.5;
        filter: blur(5px);
      }
      100% {
        border: none;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        filter: blur(5px);
        display: none !important;
        z-index: -1;
      }
    }

    $c: context.set(lkt-effect-disappear, true);
  }
}